.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  user-select: none;

  .background {
    position: absolute !important;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -1;
    background: rgb(10,20,40);
  }

  %section {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 940px;
  }

  .header {
    @extend %section;
    background: none;
    box-shadow: none;
  }

  .content {
    @extend %section;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5vw;
  }

  &.wide .content {
    max-width: 80%;
  }

  .footer {
    @extend %section;
    display: flex;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    justify-content: space-between;
    font-size: 0.875em;
    border-top: 1px solid rgba(255, 54, 136, .66);
    background: initial;
  }
}
