.background {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  backdrop-filter: blur(8px);
  padding-left: calc(100vw - 100%);

  .header {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 940px;
    background: none;
    box-shadow: none;
  }

  .content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2.5vw;
  }

  &.wide .content {
    max-width: 80%;
  }

  .footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    max-width: 940px;
    display: flex;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    justify-content: space-between;
    font-size: 0.875em;
    border-top: 1px solid rgb(255 54 136 / 66%);
    background: initial;
    user-select: none;
  }
}