// Styles for <FrameLayout> which is showing a border around the content.
// Depends on bootstrap4.
//
// Author: WebberTakken <webber@takken.io>

// Defaults
$frame-animation-time: 13.37s !default;
$frame-background-color: #182c3b !default;
$frame-border-color-bright: #cf6adb !default;
$frame-border-color-dark: #5585c8 !default;
$frame-border-size: 2.5vw !default;
$layout-transition-speed: 0.25s !default;

// Core-ui specific defaults
$navbar-height: 55px !default;
$aside-menu-nav-padding-y: 0.75rem !default;
$font-size-base: 0.875rem !default;

// Placeholders
%frame-border {
  transition: border $layout-transition-speed ease-in-out;
  border: $frame-border-size solid transparent;
}

// Styles
.layout {
  display: flex;

  // Animation
  @keyframes fadeInFadeOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .vh-100:not(body),
  .vwh-100:not(body) {
    min-height: calc(100vh - #{2 * $frame-border-size});
  }

  .vw-100:not(body),
  .vwh-100:not(body) {
    width: calc(100vw - #{2 * $frame-border-size});
  }

  .frame {
    @extend %frame-border;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 2000;
    pointer-events: none;
    border-image: linear-gradient(135deg, $frame-border-color-dark, $frame-border-color-bright) 1;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before {
      @extend %frame-border;
      box-sizing: content-box;
      border-image: linear-gradient(135deg, $frame-border-color-bright, $frame-border-color-dark) 1;

      // Animation
      opacity: 0;
      will-change: opacity;
      animation: fadeInFadeOut $frame-animation-time ease-in-out infinite;

      // Adapt margin to all screen sizes, keep border easing
      transition:
        border $layout-transition-speed ease-in-out,
        margin $layout-transition-speed ease-in-out;
      margin: -$frame-border-size;
    }

    &::after {
      box-sizing: border-box;

      // Adapt shadow size to the size of the border
      transition: box-shadow $layout-transition-speed ease-in-out;
      box-shadow: 0 0 $frame-border-size darken($frame-border-color-dark, 33.33%);
    }
  }

  .body {
    background-color: $frame-background-color;
    width: 100%;
    min-height: 100vh;

    // Adapt padding to #frame's border, by screen size
    transition: padding $layout-transition-speed ease-in-out;
    padding: $frame-border-size;
  }
}

// Symfony toolbar compatibility
// Display toolbar over border and respect FrameLayout scrolling behaviour.
.sf-toolbar {
  position: absolute;
}

// Core UI Layout compatibility patch for FrameLayout
// Combines Bootstrap4, CoreUI and FrameLayout
//
// Positions and dimensions of fixed elements are calculated according to the
// settings for the width of the borders of FrameLayout as defined in variables.
//
// Note: Fixed elements by default unlike absolute elements do not stay in their
// nearest parent with position relative. Instead they only respect the viewport
// size.
.app:not(body),
.app-dashboard:not(body),
.app-root:not(body) {
  min-height: calc(100vh - #{2 * $frame-border-size});
}

// Header
.header-fixed {
  #layout.frame {
    .app-header {
      will-change: width, flex;
      transition:
        width $layout-transition-speed,
        flex $layout-transition-speed;
      width: calc(100% - #{2 * $frame-border-size});
    }
  }
}

// Sidebar
.sidebar-fixed,
.sidebar-off-canvas {
  #layout.frame {
    .sidebar {
      will-change: height, width, margin-left;
      transition:
        height $layout-transition-speed,
        width $layout-transition-speed,
        margin-left $layout-transition-speed;
      height: calc(100vh - #{2 * $frame-border-size} - #{$navbar-height} + 0.5px);
    }
  }
}

// Aside Menu
.aside-menu-fixed {
  #layout.frame .aside-menu {
    will-change: height, right, margin-right;
    transition:
      height $layout-transition-speed,
      right $layout-transition-speed,
      margin-right $layout-transition-speed;
    height: calc(100vh - #{2 * $frame-border-size} - #{$navbar-height} + 0.5px);

    // Tab content within Aside menu
    .tab-content {
      will-change: height;
      transition: height $layout-transition-speed;
      height: calc(
        100vh - #{2 * $frame-border-size} - #{$navbar-height} - #{$aside-menu-nav-padding-y * 2 +
          $font-size-base} + 0.5px
      );
    }
  }
}

// Aside menu
html {
  &:not([dir='rtl']) {
    .aside-menu-fixed #layout.frame .aside-menu,
    .aside-menu-off-canvas #layout.frame .aside-menu {
      will-change: height, right, margin-right;
      transition:
        height $layout-transition-speed,
        right $layout-transition-speed,
        margin-right $layout-transition-speed;
      right: $frame-border-size;
    }
  }

  &[dir='rtl'] {
    // Aside Menu in reversed direction
    .aside-menu-fixed #layout.frame .aside-menu,
    .aside-menu-off-canvas #layout.frame .aside-menu {
      will-change: height, left, margin-left;
      transition:
        height $layout-transition-speed,
        left $layout-transition-speed,
        margin-left $layout-transition-speed;
      left: $frame-border-size;
    }

    // Sidebar in reversed direction
    .sidebar-fixed #layout.frame .sidebar {
      will-change: height, right, margin-right;
      transition:
        height $layout-transition-speed,
        right $layout-transition-speed,
        margin-right $layout-transition-speed;
      right: $frame-border-size;
    }
  }
}

// Breadcrumb
.breadcrumb-fixed {
  #layout.frame {
    .breadcrumb {
      will-change: top, right, margin-right, left, margin-left, width;
      transition:
        top $layout-transition-speed,
        right $layout-transition-speed,
        margin-right $layout-transition-speed,
        left $layout-transition-speed,
        margin-left $layout-transition-speed,
        width $layout-transition-speed;
      top: calc(#{$navbar-height} + #{$frame-border-size});
      margin-right: $frame-border-size;
      margin-left: $frame-border-size;
    }
  }
}

// Footer
.footer-fixed {
  #layout.frame {
    .app-footer {
      will-change: bottom, right, margin-right, left, margin-left, width;
      transition:
        bottom $layout-transition-speed,
        right $layout-transition-speed,
        margin-right $layout-transition-speed,
        left $layout-transition-speed,
        margin-left $layout-transition-speed,
        width $layout-transition-speed;
      bottom: $frame-border-size;
      right: $frame-border-size;
      left: $frame-border-size;
    }
  }
}
