@keyframes fadeInFadeOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.body {
  width: 100%;
  min-height: 100dvh;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  padding: var(--frame-border-size);
  transition: padding var(--animation-speed);
}

.frame {
  position: fixed;
  inset: 0;
  height: 100dvh;
  box-sizing: border-box;
  z-index: 2000;
  pointer-events: none;
}

.frame::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100dvh;
  box-sizing: border-box;
  border: var(--frame-border-size) solid transparent;
  transition: border-width var(--animation-speed);
  border-image: linear-gradient(135deg, var(--frame-border-color-dark), var(--frame-border-color-bright)) 1;
}

@media not all and (prefers-reduced-motion) {
  .frame::after {
    content: '';
    position: absolute;
    inset: 0;
    height: 100dvh;
    box-sizing: border-box;
    border: var(--frame-border-size) solid transparent;
    transition: border-width var(--animation-speed);
    border-image: linear-gradient(135deg, var(--frame-border-color-bright), var(--frame-border-color-dark)) 1;
    opacity: 0;
    will-change: opacity;
    animation: fadeInFadeOut var(--frame-animation-time) ease-in-out infinite;
  }
}
