.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.section {
  border: 1px solid rgb(255 255 255 / 75%);
  border-radius: 0.5em;
  max-width: 360px;
  padding: 1em;
  margin-bottom: 0.5rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-grow: 0;
  gap: 1em;
}

.grow {
  flex-grow: 1;
}

.flexPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;
}

.codePanel {
  flex-grow: 1;
}

.formRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 0.5rem;
  flex-grow: 0;
  align-items: center;

  input {
    padding: 0.5em;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
  }
}

.borderRed {
  border: 1px solid red;
}
