@keyframes pulse {
  0% {
    color: var(--ifm-color-primary-dark);
  }

  50% {
    color: var(--ifm-color-primary);
  }

  100% {
    color: var(--ifm-color-primary-dark);
  }
}

.heading {
  color: #989586;
  font-size: 1.6rem;
  animation: pulse 4s infinite;
}

.image:not(dialog .image) img {
  border-radius: 10px !important;
}

.socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1em;
}

.socialLinks a {
  color: #989586;
}

.socialLinks a:hover {
  animation: pulse 1s infinite;
}
