/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e6006b;
  --ifm-color-primary-dark: #cf0060;
  --ifm-color-primary-darker: #c4005b;
  --ifm-color-primary-darkest: #a1004b;
  --ifm-color-primary-light: #fd0076;
  --ifm-color-primary-lighter: #ff0a7c;
  --ifm-color-primary-lightest: #ff2c8e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-background-color: rgba(255, 255, 255, 1);
  --ifm-background-surface-color: rgba(255, 255, 255, 1);
  --code-block-background: rgba(246 248 250, 1);
  --ifm-color-content: rgba(28, 30, 33, 1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff3688;
  --ifm-color-primary-dark: #ff1776;
  --ifm-color-primary-darker: #ff086d;
  --ifm-color-primary-darkest: #d80058;
  --ifm-color-primary-light: #ff559a;
  --ifm-color-primary-lighter: #ff64a3;
  --ifm-color-primary-lightest: #ff93bf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-background-color: rgba(27, 27, 29, 1);
  --ifm-background-surface-color: rgba(36, 37, 38, 1);
  --code-block-background: rgba(40, 42, 54, 1);
  --ifm-color-content: rgba(227, 227, 227, 1);
}

/* Search */
[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* fix layout shift when navigating */
@media (min-width: 768px) {
  .main-wrapper:not(.docsWrapper*) {
    padding-left: calc(100vw - 100%);
  }

  #docContainerPadding {
    padding-left: calc(100vw - 100%);
  }
}
