.blockquote {
  font-style: italic;
  border-left-color: rgb(0 0 0 / 30%) !important;
}

/* Global styles for ant-typography within blockquote */
:global {
  .blockquote .ant-typography {
    color: rgb(0 0 0 / 60%);
  }
}
