.container {
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  overflow-x: auto;
  text-align: left;
  font-size: 0.875em;
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  /* reset browser value for pre, which prevents odd scrolling issue */
  white-space: break-spaces;
  border-collapse: inherit;
  border-radius: 5px;
  box-shadow:
    2px 2px 2px rgb(0 0 0 / 50%),
    -2px -2px 2px rgb(0 0 0 / 15%);

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: #2e303d;
  }

  &::-webkit-scrollbar {
    width: 1em;
    height: 0.75em;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
    background-color: #242631;
  }

  .token-line {
    line-height: 1.3em;
    height: 1.3em;
  }

  .line {
    display: table-row;

    &.highlight {
      background-color: rgb(72 80 121 / 50%);
    }

    &.highlightStart {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &.highlightEnd {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .number {
      display: table-cell;
      text-align: right;
      padding-right: 0.5em;
      padding-left: 1em;
      user-select: none;
      opacity: 0.5;
      background-color: rgb(0 0 0 / 25%);
      border-right: 1px solid rgb(0 0 0 / 33%);
      width: 3em;
    }

    .content {
      display: table-cell;
      padding-left: 0.5em;
      padding-right: 1em;
      width: 100%;
    }

    &:first-child {
      .number {
        padding-top: 0.5em;
        border-top-left-radius: 5px;
      }

      .content {
        padding-top: 0.5em;
        border-top-right-radius: 5px;
      }
    }

    &:last-child {
      .number {
        padding-bottom: 0.75em;
        border-bottom-left-radius: 5px;
      }

      .content {
        padding-bottom: 0.75em;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

/* Global styles for ant-typography */
:global {
  .ant-typography {
    .container {
      display: block;
      width: 100%;
      margin: 1em 0;
      padding: 0;
      overflow-x: auto;
      text-align: left;
      font-size: 0.875em;
      font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
      /* reset browser value for pre, which prevents odd scrolling issue */
      white-space: break-spaces;
      border-collapse: inherit;
      border-radius: 5px;
      box-shadow:
        2px 2px 2px rgb(0 0 0 / 50%),
        -2px -2px 2px rgb(0 0 0 / 15%);

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px rgb(0 0 0 / 30%);
        border-radius: 10px;
        background-color: #2e303d;
      }

      &::-webkit-scrollbar {
        width: 1em;
        height: 0.75em;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
        background-color: #242631;
      }

      .token-line {
        line-height: 1.3em;
        height: 1.3em;
      }

      .line {
        display: table-row;

        &.highlight {
          background-color: rgb(72 80 121 / 50%);
        }

        &.highlightStart {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }

        &.highlightEnd {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        .number {
          display: table-cell;
          text-align: right;
          padding-right: 0.5em;
          padding-left: 1em;
          user-select: none;
          opacity: 0.5;
          background-color: rgb(0 0 0 / 25%);
          border-right: 1px solid rgb(0 0 0 / 33%);
          width: 3em;
        }

        .content {
          display: table-cell;
          padding-left: 0.5em;
          padding-right: 1em;
          width: 100%;
        }

        &:first-child {
          .number {
            padding-top: 0.5em;
            border-top-left-radius: 5px;
          }

          .content {
            padding-top: 0.5em;
            border-top-right-radius: 5px;
          }
        }

        &:last-child {
          .number {
            padding-bottom: 0.75em;
            border-bottom-left-radius: 5px;
          }

          .content {
            padding-bottom: 0.75em;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }
}