.poem {
  font-size: 150%;
  white-space: pre;
}

[data-theme='light'] .poem p {
  line-height: 0.9em;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  color: rgba(28, 30, 33, 0.9);
}

[data-theme='dark'] .poem p {
  line-height: 0.9em;
  padding-top: 0.55em;
  padding-bottom: 0.55em;
  color: rgba(255, 255, 255, 0.9);
}
