.container, :global(.ant-typography) .container {
  display: block;
  width: 100%;
  margin: 1em 0;
  padding: 0;
  overflow-x: auto;

  text-align: left;
  font-size: 0.875em;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  white-space: pre;

  border-collapse: inherit;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(0, 0, 0, 0.15);

  .token-line {
    line-height: 1.3em;
    height: 1.3em;
  }

  .line {
    display: table-row;

    &.highlight {
      background-color: rgba(72, 80, 121, .5);
    }

    &.highlightStart {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &.highlightEnd {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .number {
      display: table-cell;
      text-align: right;
      padding-right: .5em;
      padding-left: 1em;
      user-select: none;
      opacity: 0.5;
      background-color: rgba(0,0,0,.25);
      border-right: 1px solid rgba(0,0,0,.33);
      width: 3em;
    }

    .content {
      display: table-cell;
      padding-left: .5em;
      padding-right: 1em;
      width: 100%;
    }

    &:first-child {
      .number {
        padding-top: .5em;
        border-top-left-radius: 5px;
      }

      .content {
        padding-top: .5em;
        border-top-right-radius: 5px;
      }
    }

    &:last-child {
      .number {
        padding-bottom: .75em;
        border-bottom-left-radius: 5px;
      }

      .content {
        padding-bottom: .75em;
        border-bottom-right-radius: 5px;
      }
    }
  }
}




